<md-card>
  <md-card-header>
    <div class="row">
      <div class="col-xs-4">
        <img md-card-avatar src="../../../placeholder.jpg">
      </div>
      <div
        class="col-xs-8"
        *ngIf="!editing"
      >
        <div>
          <md-card-title>{{secretSanta.name}}</md-card-title>
        </div>
        <div>
          <md-card-subtitle>{{secretSanta.email}}</md-card-subtitle>
        </div>
      </div>
      <div
        class="col-xs-8"
        *ngIf="editing"
      >
        <div>
          <md-input
            class="full-width"
            type="text"
            [(ngModel)]="secretSanta.name"
            name="secretSantaName"
          ></md-input>
        </div>
        <div>
          <md-input
            class="full-width"
            type="text"
            [(ngModel)]="secretSanta.email"
            name="secretSantaEmail"
          ></md-input>
        </div>
      </div>
    </div>
  </md-card-header>
  <md-card-actions>
    <button
      md-raised-button
      (click)="onEdit()"
    >{{editButtonDesc}}</button>
    <button
      md-raised-button
      (click)="onRemove()"
    >Remove</button>
  </md-card-actions>
</md-card>
