<md-card>
  <md-card-header>
    <div class="row">
      <div class="col-xs-4">
        <img md-card-avatar src="../../../placeholder.jpg">
      </div>
      <div class="col-xs-8">
        <div>
          <md-card-title>{{secretSanta.name}}</md-card-title>
        </div>
        <div>
          <md-card-subtitle>{{secretSanta.email}}</md-card-subtitle>
        </div>
      </div>
    </div>
  </md-card-header>
  <md-card-actions>
    <button md-raised-button>Edit</button>
    <button md-raised-button>Remove</button>
  </md-card-actions>
</md-card>
