<div class="container">
  <div class="row">
    <div class="col-xs">
      <h2>Wichtel</h2>
    </div>
  </div>

  <form
    class="row"
    (submit)="onCreateSecretSanta()"
  >
    <div class="col-xs-12 col-sm">
      <md-input
        class="full-width"
        type="text"
        [(ngModel)]="newSecretSanta.name"
        name="newSecretSantaName"
        placeholder="Name"
      ></md-input>
    </div>
    <div class="col-xs-12 col-sm">
      <md-input
        class="full-width"
        type="email"
        [(ngModel)]="newSecretSanta.email"
        name="newSecretSantaEmail"
        placeholder="E-Mail"
      >
        <span md-prefix>@&nbsp;</span>
      </md-input>
    </div>
    <div class="col-xs-12 col-sm-2">
      <button
        type="submit"
        md-raised-button
      >
        Hinzufügen
      </button>
    </div>
  </form>
</div>
