<div class="container">
  <div class="row">
    <div class="col-xs">
      <h2>Absender</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm">
      <md-input
        class="full-width"
        placeholder="E-Mail"
      >
        <span md-prefix>@&nbsp;</span>
      </md-input>
    </div>
    <div class="col-xs-12 col-sm">
      <md-input
        class="full-width"
        placeholder="Betreff"
      ></md-input>
    </div>
    <div class="col-xs-12 col-sm">
      <md-input
        class="full-width"
        placeholder="Nachricht"
      ></md-input>
    </div>
  </div>
</div>
